@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using CoreMVC.Areas.Identity.Models;
@inject SignInManager<AccountModel> SignInManager
@inject UserManager<AccountModel> UserManager

<div class="text-center">
    @if(ViewData["Message"] != null)
    {
        @Html.Partial("_AlertPartial",new AlertModel(){Message="Your Email Confirm "+ViewData["Message"],Style=BootStrap.Style.Warning})
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
