@{
    ViewData["Title"] = "Hello World";
}
@model CoreMVC.Models.HelloWorldModel
<div>
    <h2>Hello Wrold</h2>
    <p>Hello from our View Template!</p>

    @* Dialog *@
    <div>
        <partial name="_DialogPartial" model="Model.Dialog" ></partial>
    </div>

    @* Carousel *@
    <div class="d-none">
        <partial name="_CarouselPartial" ></partial>
    </div>

</div>