@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-md">
    @if(TempData["message"] != null)
    {
        @Html.Partial("_AlertPartial",new AlertModel(){Message=TempData["message"].ToString() })
    }
    <form method="post" asp-action="ForgetPasswordSendMail" >
        <label for="email">E-mail</label>
        <input type="text" name="email" class="form-control" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
    
</div>