@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CoreMVC.Areas.Identity.Models.AccountModel>
@using Microsoft.AspNetCore.Identity
@using CoreMVC.Areas.Identity.Models;
@inject SignInManager<AccountModel> SignInManager
@inject UserManager<AccountModel> UserManager



<h1>This is Account Index Page</h1>
@if(SignInManager.IsSignedIn(User))
{
<div class="container">
    <div class="col-2"></div>
    <div class="col-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m=>Model.FirstOrDefault().UserName)
                    </th>
                    <th>
                        Maintain
                    </th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<Model.Count();i++)
                {
                    <tr>
                        <td>
                            @Model[i].UserName
                        </td>
                        <td>
                            @Html.Partial("_DialogPartial", Model[i].AssignRoleDialog)
                            <form method="post" asp-action="Delete">
                                <input type="hidden" name="email" value="@Model[i].Email">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>
}
else
{
    <a asp-action="Login">Login</a>
}