@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoreMVC.Areas.Identity.Models.ForgetPasswordModel
@if(TempData["message"] != null)
{
    @Html.Partial("_AlertPartial",new AlertModel(){Message= TempData["message"].ToString()})
}

<div class="container">
    <form method="post" asp-action="ResetPasswordConfirm">
        <input type="hidden" name="Email" value="@Model.Email" />
        <input type="hidden" name="Token" value="@Model.Token" />
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <label asp-for="ConfirmPasswrod"></label>
        <input asp-for="ConfirmPasswrod" class="form-control" />
        <span asp-validation-for="ConfirmPasswrod" class="text-danger"></span>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}