@model CoreMVC.Models.PhotoModel

@{
    ViewData["Title"] = "Create";
}



<h1>Create</h1>

<h4>PhotoModel</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input id="inputImage" type="file" name="inputImage" asp-for="Image" class="form-control" />
                
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input id="inputFile" type="file" name="inputFile" asp-for="FileName" class="form-control" />
                
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-4">
            <img id="img" src="#" width="300px" />
        </div>
        <div class="col-md-4">
            <img id="file" src="#" width="300px" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $("#inputImage").change(function () {
        ShowImageFromUpload(this, "img");
    });
    $("#inputFile").change(function () {
        ShowImageFromUpload(this, "file");
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
